In [1]:
import duckdb
import pandas as pd
import os

In [10]:
df_asso1 = duckdb.read_csv("../data/raw/rna_waldec_20250901/rna_waldec_20250901_dpt_01.csv")
df_asso1

┌────────────┬────────────┬───────┬─────────┬─────────┬────────────┬────────────┬────────────┬────────────┬─────────┬────────────┬─────────────────────────────────────────────────────────────────┬────────────────────────────────────────┬───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬───────────────┬───────────────┬────────────────────────────┬──────────────┬─────────────────┬───────────────┬──────────────────────────────────┬────────────────────────────────────┬────────────────┬─────────────────┬────────────────────────┬────────────────┬────────────────────────────────┬─────────────────┬──────────────────────────────────┬───────────────────────────────────┬─────────────────┬────────────────────────┬───────────┬──────────────┬────────────────────┬──────────┬───────────────────────────────────────────────────────────────────────────────────┬──────────┬─────────────────────┐
│     id     │   id_ex    │ siret │ rup_mi  │ gestion │ date_creat │ date_decla │ date_publi │ date_disso │ nature  │ groupement │                              titre                              │              titre_court               │                                                                                                                                                         objet                                                                                                                                                         │ objet_social1 │ objet_social2 │      adrs_complement       │ adrs_numvoie │ adrs_repetition │ adrs_typevoie │           adrs_libvoie           │            adrs_distrib            │ adrs_codeinsee │ adrs_codepostal │    adrs_libcommune     │ adrg_declarant │         adrg_complemid         │ adrg_complemgeo │           adrg_libvoie           │           adrg_distrib            │ adrg_codepostal │     adrg_achemine      │ adrg_pays │ dir_civilite │      siteweb       │ publiweb │                                    observation                                    │ position │      maj_time       │
│  varchar   │  varchar   │ int64 │ varchar │ varchar │    date    │    date    │    date    │    date    │ varchar │  varchar   │                             varchar                             │                varchar                 │                                                                                                                                                        varchar                                                                                                                                                        │    varchar    │    varchar    │          varchar           │   varchar    │     varchar     │    varchar    │             varchar              │              varchar               │    varchar     │     varchar     │        varchar         │    varchar     │            varchar             │     varchar     │             varchar              │              varchar              │     varchar     │        varchar         │  varchar  │   varchar    │      varchar       │  int64   │                                      varchar                                      │ varchar  │      timestamp      │
├────────────┼────────────┼───────┼─────────┼─────────┼────────────┼────────────┼────────────┼────────────┼─────────┼────────────┼─────────────────────────────────────────────────────────────────┼────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼───────────────┼───────────────┼────────────────────────────┼──────────────┼─────────────────┼───────────────┼──────────────────────────────────┼────────────────────────────────────┼────────────────┼─────────────────┼────────────────────────┼────────────────┼────────────────────────────────┼─────────────────┼──────────────────────────────────┼───────────────────────────────────┼─────────────────┼────────────────────────┼───────────┼──────────────┼────────────────────┼──────────┼───────────────────────────────────────────────────────────────────────────────────┼──────────┼─────────────────────┤
│ W011000001 │ 1/03747    │  NULL │ NULL    │ 343P    │ 1998-03-17 │ 2011-10-26 │ 1998-04-04 │ 0001-01-01 │ D       │ S          │ VENT D'EST                                                      │ V'ENT D'EST                            │ développer des échanges culturels avec les cultures traditionnelles, ayurveda, chamanisme, taoïsme, de partager la connaissance des savoirs manuels, intellectuels, popuulaires, traditionnels                                                                                                                        │ 030020        │ 000000        │ NULL                       │ 99           │ NULL            │ RUE           │ Salvador Dali                    │ _                                  │ 34172          │ 34090           │ Montpellier            │ NULL           │ NULL                           │ NULL            │ 99  RUE SALVADOR DALI            │ NULL                              │ 34090           │ MONTPELLIER            │ FRANCE    │ PF           │ NULL               │        1 │ NULL                                                                              │ A        │ 2011-11-21 11:15:08 │
│ W011000002 │ 0011004579 │  NULL │ NULL    │ 262S    │ 2007-03-22 │ 2022-04-29 │ 2007-04-14 │ 0001-01-01 │ D       │ S          │ ASSOCIATION UNE NOTE DE PARTAGE - COMPAGNIE DES PAPILLONS BLEUS │ UNE NOTE DE PARTAGE                    │ création de spectacles vivants, diffusion, production de spectacles vivants ; favoriser l'accès à l'art pour tous, notamment à la musique, par des animations collectives ou individuelles ; sensibiliser à des problématiques du monde actuel par des ateliers, des publications d'écrits ou des uvres artistiques ; │ 006100        │ 000000        │ Mairie                     │ NULL         │ NULL            │ NULL          │ NULL                             │ _                                  │ 26114          │ 26220           │ Dieulefit              │ NULL           │ NULL                           │ NULL            │ 1995, ROUTE DE SOUSPIERRE        │ NULL                              │ 26220           │ SALETTES               │ FRANCE    │ PF           │ NULL               │        1 │ NULL                                                                              │ A        │ 2022-05-10 12:45:42 │
│ W011000003 │ NULL       │  NULL │ NULL    │ 011S    │ 2008-12-11 │ 2023-03-01 │ 2008-12-27 │ 0001-01-01 │ D       │ S          │ CHANDELAIN                                                      │ CHANDELAIN                             │ promouvoir la musique vivante à travers diverses actions pédagogiques et artistiques, cours, ateliers, stages, master classes                                                                                                                                                                                         │ 006030        │ 000000        │ NULL                       │ 1            │ NULL            │ BD            │ de Verdun                        │ _                                  │ 01034          │ 01300           │ Belley                 │ NULL           │ NULL                           │ NULL            │ 1  RUE ALSACE LORRAINE           │ NULL                              │ 01300           │ BELLEY                 │ FRANCE    │ PF           │ NULL               │        0 │ NULL                                                                              │ A        │ 2023-03-22 08:14:45 │
│ W011000004 │ NULL       │  NULL │ NULL    │ 011S    │ 2008-12-15 │ 2008-12-15 │ 2008-12-27 │ 0001-01-01 │ D       │ S          │ LEYMENT-MATERIEL                                                │ LEYMENT-MATERIEL                       │ gérer le matériel de l'ancien comité des fêtes de Leyment (entretien, prêt aux associations, à la municipalité, aux particuliers) ; acquérir et gérer du nouveau matériel  ; organiser des manifestations dans le but de faire fonctionner l'association                                                              │ 007075        │ 000000        │ Mairie                     │ NULL         │ NULL            │ RUE           │ de la Mairie                     │ _                                  │ 01213          │ 01150           │ Leyment                │ NULL           │ NULL                           │ NULL            │ 15 Rue de Valllière              │ NULL                              │ 01150           │ Leyment                │ FRANCE    │ PM           │ NULL               │        0 │ NULL                                                                              │ A        │ 2009-01-16 17:11:41 │
│ W011000005 │ 0011003093 │  NULL │ NULL    │ 011S    │ 1990-06-21 │ 2024-10-30 │ 1990-07-25 │ 0001-01-01 │ D       │ S          │ ASSOCIATION 'TOILES EMOI'                                       │ ASSOCIATION 'TOILES EMOI'              │ à partir des activités du 'modern'cinéma' renforcer la vie culturelle d'Ambérieu et de ses environs en créant un ensemble d'actions consacrées au 7eme art                                                                                                                                                            │ 006025        │ 000000        │ NULL                       │ 3            │ NULL            │ AV            │ de Verdun                        │ _                                  │ 01004          │ 01500           │ Ambérieu-en-Bugey      │ NULL           │ NULL                           │ NULL            │ 3 avenue de Verdun               │ NULL                              │ 01500           │ AMBERIEU EN BUGEY      │ FRANCE    │ PF           │ NULL               │        0 │ reprise                                                                           │ A        │ 2024-10-31 06:54:00 │
│ W011000006 │ 0011002777 │  NULL │ NULL    │ 011S    │ 1979-11-19 │ 2024-07-17 │ 1979-11-29 │ 0001-01-01 │ D       │ S          │ AMICALE DES MARAIS                                              │ AMICALE DES MARAIS                     │ développer les relations entre les personnes du troisieme âge donner à ces personnes toutes les informations qui leur seraient utiles, organiser des loisirs, renforcer la solidarité morale ainsi que l'esprit de compréhension mutuelle et d'entraide                                                               │ 009040        │ 009040        │ Mairie                     │ NULL         │ NULL            │ NULL          │ NULL                             │ _                                  │ 01208          │ 01350           │ Lavours                │ NULL           │ Mairie                         │ NULL            │ NULL                             │ NULL                              │ 01350           │ LAVOURS                │ FRANCE    │ PF           │ NULL               │        0 │ Reprise                                                                           │ A        │ 2024-07-18 06:07:14 │
│ W011000007 │ 0011004428 │  NULL │ NULL    │ 011S    │ 2005-08-02 │ 2008-12-12 │ 2005-08-27 │ 2008-06-13 │ D       │ S          │ COMITE D'ANIMATION DE LEYMENT                                   │ COMITE D'ANIMATION DE LEYMENT          │ coordonner les projets, aider les associations de la commune, maintenir une bonne entente et une collaboration efficace entre les associations, établir le calendrier des manifestations, recevoir le matériel de l'ancien comité des fêtes                                                                           │ 007075        │ 000000        │ Mairie                     │ NULL         │ NULL            │ NULL          │ NULL                             │ _                                  │ 01213          │ 01150           │ Leyment                │ NULL           │ 9 Lotissement de la Côte à Goy │ NULL            │ NULL                             │ NULL                              │ 01150           │ LEYMENT                │ FRANCE    │ PM           │ NULL               │        0 │ Reprise  =>                                                                       │ D        │ 2009-01-16 17:20:13 │
│ W011000008 │ NULL       │  NULL │ NULL    │ 011S    │ 2008-12-12 │ 2012-09-19 │ 2008-12-27 │ 2012-06-16 │ D       │ S          │ ACADEMIE DE TAE KWON-DO MARTIAL ET OLYMPIQUE AMBERIEU           │ ACADEMIE DE TAE KWON-DO MARTIAL ET ... │ initiation, perfectionnement, pratique, développement de l'éducation physique et d'activités sportives                                                                                                                                                                                                                │ 011150        │ 000000        │ NULL                       │ 6            │ NULL            │ RUE           │ Girod de l'Ain                   │ _                                  │ 01004          │ 01500           │ Ambérieu-en-Bugey      │ NULL           │ NULL                           │ NULL            │ 6  RUE DE BOISSET                │ NULL                              │ 01150           │ VAUX-EN-BUGEY          │ FRANCE    │ PM           │ NULL               │        0 │ NULL                                                                              │ D        │ 2013-03-20 20:00:02 │
│ W011000009 │ NULL       │  NULL │ NULL    │ 011S    │ 2008-12-12 │ 2011-09-27 │ 2008-12-27 │ 2010-12-16 │ D       │ S          │ BRAMAFAN.ORG                                                    │ BRAMAFAN.ORG                           │ développement  et organisation d'évènements sportifs et culturels autour du "Bramafan", organisation d'une course dite "cross du Bramafan"                                                                                                                                                                            │ 011115        │ 000000        │ mairie                     │ 16           │ NULL            │ RUE           │ Pasteur                          │ _                                  │ 01202          │ 01150           │ Lagnieu                │ NULL           │ LE BATOIR F                    │ NULL            │ RUE DE LA LISETTE                │ NULL                              │ 01150           │ LAGNIEU                │ FRANCE    │ PM           │ www.bramafan.org   │        0 │ NULL                                                                              │ D        │ 2011-10-26 14:13:37 │
│ W011000010 │ NULL       │  NULL │ NULL    │ 011S    │ 2008-12-18 │ 2010-11-03 │ 2008-12-27 │ 0001-01-01 │ D       │ S          │ LES AIN'FANTINES                                                │ LES AIN'FANTINES                       │ organiser, animer des ateliers, des manifestations, des cours ou conférences en rapport avec l'enfance ; soutenir et  promouvoir l'accès à la lecture pour tous en créant l'atelier "lire des livres"                                                                                                                 │ 006010        │ 000000        │ NULL                       │ 426          │ NULL            │ RUE           │ des Fontanettes                  │ _                                  │ 01185          │ 01110           │ Hauteville-Lompnes     │ NULL           │ NULL                           │ NULL            │ 426 RUE DES FONTANETTES          │ NULL                              │ 01110           │ HAUTEVILLE-LOMPNES     │ FRANCE    │ PF           │ NULL               │        0 │ NULL                                                                              │ A        │ 2010-11-03 15:10:09 │
│     ·      │  ·         │    ·  │  ·      │  ·      │     ·      │     ·      │     ·      │     ·      │ ·       │ ·          │        ·                                                        │        ·                               │                                                                ·                                                                                                                                                                                                                                                      │   ·           │   ·           │  ·                         │  ·           │  ·              │  ·            │        ·                         │ ·                                  │   ·            │   ·             │    ·                   │  ·             │  ·                             │  ·              │            ·                     │  ·                                │   ·             │    ·                   │   ·       │ ·            │  ·                 │        · │  ·                                                                                │ ·        │          ·          │
│     ·      │  ·         │    ·  │  ·      │  ·      │     ·      │     ·      │     ·      │     ·      │ ·       │ ·          │        ·                                                        │        ·                               │                                                                ·                                                                                                                                                                                                                                                      │   ·           │   ·           │  ·                         │  ·           │  ·              │  ·            │        ·                         │ ·                                  │   ·            │   ·             │    ·                   │  ·             │  ·                             │  ·              │            ·                     │  ·                                │   ·             │    ·                   │   ·       │ ·            │  ·                 │        · │  ·                                                                                │ ·        │          ·          │
│     ·      │  ·         │    ·  │  ·      │  ·      │     ·      │     ·      │     ·      │     ·      │ ·       │ ·          │        ·                                                        │        ·                               │                                                                ·                                                                                                                                                                                                                                                      │   ·           │   ·           │  ·                         │  ·           │  ·              │  ·            │        ·                         │ ·                                  │   ·            │   ·             │    ·                   │  ·             │  ·                             │  ·              │            ·                     │  ·                                │   ·             │    ·                   │   ·       │ ·            │  ·                 │        · │  ·                                                                                │ ·        │          ·          │

In [13]:
duckdb.sql("""
    SELECT *
    FROM df_asso1
    WHERE adrs_codeinsee = 'A'
""")

┌─────────┬─────────┬───────┬─────────┬─────────┬────────────┬────────────┬────────────┬────────────┬─────────┬────────────┬─────────┬─────────────┬─────────┬───────────────┬───────────────┬─────────────────┬──────────────┬─────────────────┬───────────────┬──────────────┬──────────────┬────────────────┬─────────────────┬─────────────────┬────────────────┬────────────────┬─────────────────┬──────────────┬──────────────┬─────────────────┬───────────────┬───────────┬──────────────┬─────────┬──────────┬─────────────┬──────────┬───────────┐
│   id    │  id_ex  │ siret │ rup_mi  │ gestion │ date_creat │ date_decla │ date_publi │ date_disso │ nature  │ groupement │  titre  │ titre_court │  objet  │ objet_social1 │ objet_social2 │ adrs_complement │ adrs_numvoie │ adrs_repetition │ adrs_typevoie │ adrs_libvoie │ adrs_distrib │ adrs_codeinsee │ adrs_codepostal │ adrs_libcommune │ adrg_declarant │ adrg_complemid │ adrg_complemgeo │ adrg_libvoie │ adrg_distrib │ adrg_codepostal │ adrg_achemine │ adrg_pays │ dir_civilite │ siteweb │ publiweb │ observation │ position │ maj_time  │
│ varchar │ varchar │ int64 │ varchar │ varchar │    date    │    date    │    date    │    date    │ varchar │  varchar   │ varchar │   varchar   │ varchar │    varchar    │    varchar    │     varchar     │   varchar    │     varchar     │    varchar    │   varchar    │   varchar    │    varchar     │     varchar     │     varchar     │    varchar     │    varchar     │     varchar     │   varchar    │   varchar    │     varchar     │    varchar    │  varchar  │   varchar    │ varchar │  int64   │   varchar   │ varchar  │ timestamp │
├─────────┴─────────┴───────┴─────────┴─────────┴────────────┴────────────┴────────────┴────────────┴─────────┴────────────┴─────────┴─────────────┴─────────┴───────────────┴───────────────┴─────────────────┴──────────────┴─────────────────┴───────────────┴──────────────┴──────────────┴────────────────┴─────────────────┴─────────────────┴────────────────┴────────────────┴─────────────────┴──────────────┴──────────────┴─────────────────┴───────────────┴───────────┴──────────────┴─────────┴──────────┴─────────────┴──────────┴───────────┤
│                                                                                                                                                                                                                                                                          0 rows                                                                                                                                                                                                                                                                           │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
df_full=pd.DataFrame()
for files in os.listdir("../data/raw/rna_waldec_20250901/"):
    if files.endswith(".csv") and files.startswith("rna_waldec"):
        df_temp = pd.read_csv(
            os.path.join("../data/raw/rna_waldec_20250901/", files),
            engine="python"
           )
        df_temp = df_temp.loc[df_temp["position"] == "A"]
        df_temp = df_temp[["adrs_codeinsee","adrs_codepostal"]]
        df_full = pd.concat([df_full,df_temp], ignore_index=True,axis=0)

/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,3,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,2,3,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,2,3,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (1,3,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,18,22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (3,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(
/tmp/ipykernel_3886/3246083319.py:4: DtypeWarning: Columns (22,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(

In [4]:
df_asso = df_full.copy()
df_asso

        adrs_codeinsee  adrs_codepostal
0                69110          69590.0
1                26362          26000.0
2                34172          34090.0
3                05117           5150.0
4                26057          26300.0
...                ...              ...
1903418          80677          80240.0
1903419          80016          80300.0
1903420          80620          80200.0
1903421          80647          80320.0
1903422          80747          80240.0

[1903423 rows x 2 columns]

In [5]:
df_asso["adrs_codeinsee"] = df_asso["adrs_codeinsee"].astype(str)
df_asso["adrs_codepostal"] = df_asso["adrs_codepostal"].astype(str)

In [7]:
cols = ["adrs_codeinsee", "adrs_codepostal"]
invalid_values = ["nan","<NA>", "NaN", "Nan", "0", "0.0", "", "INSEE","commune"]

df_asso[cols] = (
    df_asso[cols]
    .replace(invalid_values, pd.NA)
)
df_asso

        adrs_codeinsee adrs_codepostal
0                69110         69590.0
1                26362         26000.0
2                34172         34090.0
3                05117          5150.0
4                26057         26300.0
...                ...             ...
1903418          80677         80240.0
1903419          80016         80300.0
1903420          80620         80200.0
1903421          80647         80320.0
1903422          80747         80240.0

[1903423 rows x 2 columns]

In [8]:
df_asso = df_asso.loc[
    ~df_asso[cols].isna().all(axis=1)
]

df_asso

        adrs_codeinsee adrs_codepostal
0                69110         69590.0
1                26362         26000.0
2                34172         34090.0
3                05117          5150.0
4                26057         26300.0
...                ...             ...
1903418          80677         80240.0
1903419          80016         80300.0
1903420          80620         80200.0
1903421          80647         80320.0
1903422          80747         80240.0

[1903274 rows x 2 columns]

In [9]:
df_asso = df_asso.sort_values(["adrs_codeinsee","adrs_codepostal"])
df_asso

        adrs_codeinsee adrs_codepostal
1298241          01001          1400.0
1298494          01001          1400.0
1299215          01001          1400.0
1299538          01001          1400.0
1299971          01001          1400.0
...                ...             ...
973534            <NA>         78870.0
990660            <NA>          8000.0
1895753           <NA>         80560.0
3692              <NA>         83520.0
1285403           <NA>         97229.0

[1903274 rows x 2 columns]

In [11]:
df_asso["adrs_codepostal"] = df_asso["adrs_codepostal"].str.replace('.0','').str.zfill(5)
df_asso["adrs_codeinsee"] = df_asso["adrs_codeinsee"].str.replace('.0','').str.zfill(5)
df_asso.reset_index(drop=True, inplace=True)
df_asso

        adrs_codeinsee adrs_codepostal
0                01001           01400
1                01001           01400
2                01001           01400
3                01001           01400
4                01001           01400
...                ...             ...
1903269           <NA>           78870
1903270           <NA>           08000
1903271           <NA>           80560
1903272           <NA>           83520
1903273           <NA>           97229

[1903274 rows x 2 columns]

In [12]:
df_nan = df_asso.loc[df_asso[["adrs_codeinsee","adrs_codepostal"]].isna().any(axis=1)]
df_nan

        adrs_codeinsee adrs_codepostal
466662           33000            <NA>
612090           37261            <NA>
644868           38530            <NA>
773905           46014            <NA>
785833           47093            <NA>
805477           49020            <NA>
843361           05061            <NA>
860356           52107            <NA>
886781           54410            <NA>
1169321          69383            <NA>
1169322          69383            <NA>
1271249          75000            <NA>
1271250          75020            <NA>
1474658          80000            <NA>
1485398          80077            <NA>
1656993          91182            <NA>
1679806          92004            <NA>
1683943          92012            <NA>
1683944          92012            <NA>
1686802          92023            <NA>
1771281          94076            <NA>
1837268          97231            <NA>
1903256           <NA>           01800
1903257           <NA>           22620
1903258           <NA>           25210
1903259           <NA>           25390
1903260           <NA>           30140
1903261           <NA>           32290
1903262           <NA>           33290
1903263           <NA>           33460
1903264           <NA>           51130
1903265           <NA>           53380
1903266           <NA>           61700
1903267           <NA>           71150
1903268           <NA>           78380
1903269           <NA>           78870
1903270           <NA>           08000
1903271           <NA>           80560
1903272           <NA>           83520
1903273           <NA>           97229

In [13]:
print(df_nan.loc[df_nan["adrs_codeinsee"].isna() & df_nan["adrs_codepostal"].notna()].shape)
print(df_nan.loc[df_nan["adrs_codeinsee"].isna()].shape)
print(df_nan.loc[df_nan["adrs_codeinsee"].notna()].shape)
print(df_nan.loc[df_nan["adrs_codepostal"].isna()].shape)
print(df_nan.loc[df_nan["adrs_codepostal"].notna()].shape)
print(df_nan.loc[df_nan["adrs_codepostal"].isna() & df_nan["adrs_codeinsee"].notna()].shape)

(18, 2)
(18, 2)
(22, 2)
(22, 2)
(18, 2)
(22, 2)

In [14]:
df_asso_sans_nan = df_asso.dropna()
df_asso_sans_nan

        adrs_codeinsee adrs_codepostal
0                01001           01400
1                01001           01400
2                01001           01400
3                01001           01400
4                01001           01400
...                ...             ...
1903251          98833           98818
1903252          98833           98818
1903253          98833           98818
1903254          98833           98818
1903255          98833           98818

[1903234 rows x 2 columns]

In [104]:
df_com = pd.read_csv("../data/raw/communes-france-2025.csv")
df_com["code_postal"] = (
    df_com["code_postal"]
    .astype(str)
    .str.replace('.0','', regex=False)
    .str.zfill(5)
)

/tmp/ipykernel_3886/562108238.py:1: DtypeWarning: Columns (1,12,14,16,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_com = pd.read_csv("../data/raw/communes-france-2025.csv")

In [107]:

df_com = df_com[["code_insee","code_postal","codes_postaux","epci_code"]]

str

In [24]:
df_nan_insee = df_nan.loc[df_nan["adrs_codeinsee"].isna()]
df_nan_postal = df_nan.loc[df_nan["adrs_codepostal"].isna()]

In [30]:
print(df_nan_insee.shape)
print(df_nan_postal.shape)

(18, 2)
(22, 2)

In [77]:
duckdb.sql(""" DESCRIBE df_com_explode""")

┌───────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│  column_name  │ column_type │  null   │   key   │ default │  extra  │
│    varchar    │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ code_insee    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ code_postal   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ codes_postaux │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ epci_code     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
└───────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [114]:
query = """ 
SELECT DISTINCT e1.adrs_codeinsee, e2.code_insee, e2.code_postal
FROM df_nan_postal e1
LEFT JOIN df_com_explode e2
ON (e1.adrs_codeinsee = e2.code_insee)
ORDER BY e1.adrs_codeinsee
"""
df_sans_nan_postal=duckdb.sql(query).df().dropna()
df_sans_nan_postal

   adrs_codeinsee code_insee code_postal
0           05061      05061       05000
2           37261      37261       37100
3           38530      38530       38090
5           47093      47093       47700
6           49020      49020       49070
7           52107      52107       52700
8           54410      54410       54890
13          80077      80077       80260
15          92004      92004       92600
16          92012      92012       92100
17          92023      92023       92140
18          94076      94076       94800
19          97231      97231       97229

In [115]:
df_sans_nan_postal = df_sans_nan_postal[["adrs_codeinsee","code_postal"]]
df_sans_nan_postal.rename(columns={"code_postal":"adrs_codepostal"}, inplace=True)
df_sans_nan_postal

/tmp/ipykernel_3886/1724228729.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sans_nan_postal.rename(columns={"code_postal":"adrs_codepostal"}, inplace=True)

   adrs_codeinsee adrs_codepostal
0           05061           05000
2           37261           37100
3           38530           38090
5           47093           47700
6           49020           49070
7           52107           52700
8           54410           54890
13          80077           80260
15          92004           92600
16          92012           92100
17          92023           92140
18          94076           94800
19          97231           97229

In [116]:
df_asso_complete = (pd.concat([df_asso[["adrs_codeinsee","adrs_codepostal"]],df_sans_nan_postal], ignore_index=True,axis=0)
                    .sort_values(["adrs_codeinsee","adrs_codepostal"])
                    .dropna())
df_asso_complete

        adrs_codeinsee adrs_codepostal
0                01001           01400
1                01001           01400
2                01001           01400
3                01001           01400
4                01001           01400
...                ...             ...
1903251          98833           98818
1903252          98833           98818
1903253          98833           98818
1903254          98833           98818
1903255          98833           98818

[1903247 rows x 2 columns]

In [117]:
data_epci = duckdb.read_csv("../data/raw/perimetre-epci-a-fp.csv", ignore_errors=True, sep=";")
data_epci

┌─────────┬───────────┬────────────────────────────────────┬──────────────────┬─────────────┬────────────┬───────────────┬───────────────┬─────────┬─────────┬──────────────┬────────────────────────┬───────────┬───────────┐
│  dept   │   siren   │           raison_sociale           │ nature_juridique │ mode_financ │ nb_membres │ total_pop_tot │ total_pop_mun │ dep_com │  insee  │ siren_membre │       nom_membre       │ ptot_2025 │ pmun_2025 │
│ varchar │   int64   │              varchar               │     varchar      │   varchar   │   int64    │    varchar    │    varchar    │ varchar │ varchar │    int64     │        varchar         │  varchar  │  varchar  │
├─────────┼───────────┼────────────────────────────────────┼──────────────────┼─────────────┼────────────┼───────────────┼───────────────┼─────────┼─────────┼──────────────┼────────────────────────┼───────────┼───────────┤
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01304   │    210103040 │ Pont-d'Ain             │ 2 912     │ 2 862     │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01199   │    210101994 │ Jujurieux              │ 2 246     │ 2 209     │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01363   │    210103636 │ Saint-Jean-le-Vieux    │ 1 873     │ 1 799     │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01314   │    210103149 │ Priay                  │ 1 826     │ 1 803     │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01273   │    210102737 │ Neuville-sur-Ain       │ 1 823     │ 1 798     │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01303   │    210103032 │ Poncin                 │ 1 792     │ 1 766     │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01068   │    210100681 │ Cerdon                 │ 771       │ 755       │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01430   │    210104303 │ Varambon               │ 675       │ 664       │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01200   │    210102000 │ Labalme                │ 213       │ 207       │
│ 01      │ 200029999 │ CC Rives de l'Ain - Pays du Cerdon │ CC               │ FPU         │         14 │ 15 156        │ 14 873        │ 01      │ 01331   │    210103313 │ Saint-Alban            │ 196       │ 195       │
│ ·       │     ·     │      ·                             │ ·                │  ·          │          · │   ·           │   ·           │ ·       │   ·     │        ·     │    ·                   │  ·        │  ·        │
│ ·       │     ·     │      ·                             │ ·                │  ·          │          · │   ·           │   ·           │ ·       │   ·     │        ·     │    ·                   │  ·        │  ·        │
│ ·       │     ·     │      ·                             │ ·                │  ·          │          · │   ·           │   ·           │ ·       │   ·     │        ·     │    ·                   │  ·        │  ·        │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58121   │    215801218 │ Garchizy               │ 3 703     │ 3 666     │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58214   │    215802141 │ Pougues-les-Eaux       │ 2 434     │ 2 388     │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58051   │    215800517 │ Challuy                │ 1 620     │ 1 468     │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58278   │    215802786 │ Sermoise-sur-Loire     │ 1 543     │ 1 490     │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58207   │    215802075 │ Parigny-les-Vaux       │ 994       │ 965       │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58124   │    215801242 │ Germigny-sur-Loire     │ 762       │ 748       │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58126   │    215801267 │ Gimouille              │ 427       │ 414       │
│ 58      │ 245804406 │ CA de Nevers                       │ CA               │ FPU         │         14 │ 69 173        │ 67 408        │ 58      │ 58225   │    215802257 │ Saincaize-Meauce       │ 366       │ 364       │
│ 58      │ 245804497 │ CC du Nivernais Bourbonnais        │ CC               │ FPU         │          9 │ 5 266         │ 5 176         │ 58      │ 58057   │    215800574 │ Chantenay-Saint-Imbert │ 1 114     │ 1 090     │
│ 58      │ 245804497 │ CC du Nivernais Bourbonnais        │ CC               │ FPU         │          9 │ 5 266         │ 5 176         │ 58      │ 58144   │    215801440 │ Livry                  │ 660       │ 646       │
├─────────┴───────────┴────────────────────────────────────┴──────────────────┴─────────────┴────────────┴───────────────┴───────────────┴─────────┴─────────┴──────────────┴────────────────────────┴───────────┴───────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                   14 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
query = """
SELECT 
    e2.dept,
    e2.siren, 
    REPLACE(e2.total_pop_mun, ' ', '') AS population,
    count(*) AS nb_asso
FROM df_asso_complete e1
LEFT JOIN data_epci e2
ON e1.adrs_codeinsee = e2.insee
GROUP BY e2.dept,e2.siren,e2.total_pop_mun
ORDER BY dept, siren
"""

df_asso_epci = duckdb.sql(query).df().dropna()

In [68]:
df_asso_epci

     dept      siren population  nb_asso
0      01  200029999      14873      440
1      01  200040350      34086     1008
2      01  200042497      40893     1106
3      01  200042935      63653     1398
4      01  200069193      40570     1362
...   ...        ...        ...      ...
1194  976  200050532      29273      575
1195  976  200059871      50020      971
1196  976  200060457      87285     1901
1197  976  200060465      59042      972
1198  976  200060473      30898      881

[1199 rows x 4 columns]

In [72]:
q = """ 
SELECT *, round(1.0*TRY_CAST(nb_asso AS DOUBLE) / TRY_CAST(population AS DOUBLE) * 1000,2) as asso_per_1000_habitants
FROM df_asso_epci
ORDER BY dept,siren
"""

df_asso_summary = duckdb.query(q)
df_asso_summary.write_csv("../data/processed/asso_per_epci.csv")